<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="<%=assetsPath%>//img/favicon.ico"
    />
    <link rel="stylesheet" href="<%=assetsPath%>/css/styles.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script defer type="module" src="<%=assetsPath%>/js/main.js"></script>
    <title><%=title%></title>
  </head>
  <body>
    <div class="container d-flex flex-column justify-content-center">
      <img
        class="logo"
        src="<%=assetsPath%>/img/logo.png"
        alt="Les petits plats"
      />
      <form class="search-form">
        <input
          class="form-control"
          type="search"
          placeholder="Rechercher une recette"
          aria-label="Rechercher une recette"
        />
        <div class="form-control-search"></div>
      </form>
      <div class="row alert-row">
        <div
          class="alert alert-primary alert-dismissible fade show"
          role="alert"
        >
          Coco
          <button
            type="button"
            class="btn-close border border-white rounded-circle"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          Four
          <button
            type="button"
            class="btn-close border border-white rounded-circle"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          Couteau
          <button
            type="button"
            class="btn-close border border-white rounded-circle"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div class="row categories-row">
        <div class="btn-group">
          <button
            class="btn btn-primary btn-lg dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ingrédients
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="white"
              class="bi bi-chevron-down"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </button>
          <div class="dropdown-menu">...</div>
        </div>
        <div class="btn-group">
          <button
            class="btn btn-success btn-lg dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Appareils
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="white"
              class="bi bi-chevron-down"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </button>
          <div class="dropdown-menu">...</div>
        </div>
        <div class="btn-group">
          <button
            class="btn btn-danger btn-lg dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ustensiles
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="white"
              class="bi bi-chevron-down"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </button>
          <div class="dropdown-menu">...</div>
        </div>
      </div>
      <div class="row menu-list">
        <div class="card">
          <div class="card-img-top"></div>
          <!--<img src="<%=assetsPath%>/" class="card-img-top" alt="..." />-->
          <div class="card-body">
            <div class="row first-row">
              <h5 class="card-title col">Limonade de Coco</h5>
              <p class="card-description col-4">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <title>clock</title>
                  <path
                    d="M20.586 23.414l-6.586-6.586v-8.828h4v7.172l5.414 5.414zM16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 28c-6.627 0-12-5.373-12-12s5.373-12 12-12c6.627 0 12 5.373 12 12s-5.373 12-12 12z"
                  ></path></svg
                >10 min
              </p>
            </div>
            <div class="row">
              <ul class="card-list col">
                <li class="card-list-item">
                  <span class="card-list-ingredient">Lait de Coco: </span
                  ><span class="card-list-quantity">400ml</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Jus de Citron: </span
                  ><span class="card-list-quantity">2</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Crême de coco: </span
                  ><span class="card-list-quantity">4 cuillères</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Sucre: </span
                  ><span class="card-list-quantity">20g</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Glaçons: </span
                  ><span class="card-list-quantity">2</span>
                </li>
              </ul>
              <p class="card-text col">
                Mettre les glaçons à votre goût dans le blender, ajouter le
                lait, la crème de coco, le jus de 2 citrons et le sucre. Mixer
                jusqu'à avoir la consistence désirée.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img-top"></div>
          <!--<img src="<%=assetsPath%>/" class="card-img-top" alt="..." />-->
          <div class="card-body">
            <div class="row first-row">
              <h5 class="card-title col">Limonade de Coco</h5>
              <p class="card-description col-4">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <title>clock</title>
                  <path
                    d="M20.586 23.414l-6.586-6.586v-8.828h4v7.172l5.414 5.414zM16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 28c-6.627 0-12-5.373-12-12s5.373-12 12-12c6.627 0 12 5.373 12 12s-5.373 12-12 12z"
                  ></path></svg
                >10 min
              </p>
            </div>
            <div class="row">
              <ul class="card-list col">
                <li class="card-list-item">
                  <span class="card-list-ingredient">Lait de Coco: </span
                  ><span class="card-list-quantity">400ml</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Jus de Citron: </span
                  ><span class="card-list-quantity">2</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Crême de coco: </span
                  ><span class="card-list-quantity">4 cuillères</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Sucre: </span
                  ><span class="card-list-quantity">20g</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Glaçons: </span
                  ><span class="card-list-quantity">2</span>
                </li>
              </ul>
              <p class="card-text col">
                Mettre les glaçons à votre goût dans le blender, ajouter le
                lait, la crème de coco, le jus de 2 citrons et le sucre. Mixer
                jusqu'à avoir la consistence désirée.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img-top"></div>
          <!--<img src="<%=assetsPath%>/" class="card-img-top" alt="..." />-->
          <div class="card-body">
            <div class="row first-row">
              <h5 class="card-title col">Limonade de Coco</h5>
              <p class="card-description col-4">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <title>clock</title>
                  <path
                    d="M20.586 23.414l-6.586-6.586v-8.828h4v7.172l5.414 5.414zM16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 28c-6.627 0-12-5.373-12-12s5.373-12 12-12c6.627 0 12 5.373 12 12s-5.373 12-12 12z"
                  ></path></svg
                >10 min
              </p>
            </div>
            <div class="row">
              <ul class="card-list col">
                <li class="card-list-item">
                  <span class="card-list-ingredient">Lait de Coco: </span
                  ><span class="card-list-quantity">400ml</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Jus de Citron: </span
                  ><span class="card-list-quantity">2</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Crême de coco: </span
                  ><span class="card-list-quantity">4 cuillères</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Sucre: </span
                  ><span class="card-list-quantity">20g</span>
                </li>
                <li class="card-list-item">
                  <span class="card-list-ingredient">Glaçons: </span
                  ><span class="card-list-quantity">2</span>
                </li>
              </ul>
              <p class="card-text col">
                Mettre les glaçons à votre goût dans le blender, ajouter le
                lait, la crème de coco, le jus de 2 citrons et le sucre. Mixer
                jusqu'à avoir la consistence désirée.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
